@import url("https://fonts.googleapis.com/css2?family=Girassol&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Variables*/
$primary-color: #1E90FF;
$secondary-color: #acdbdf;
$background-color: #69779b;
$light-color: #f0ece2;
$dark-color: #262626;
$tint-dark-color: rgba(0, 0, 0, 0.45);

$primary-font: "Oswald", sans-serif;
$secondary-font: "Girassol", sans-serif;
$header-font: "Archivo black", sans-serif;
